node_modules
.DS_Store
dist/*
!dist/dice3dview.es.js
!dist/dice3dview.es.min.js
!dist/style.css
!dist/assets/
!dist/assets/**
!dist/chunks/
!dist/chunks/**
dist-ssr
*.local
newModelFiles
oldModelFiles
oldFiles
stash
public-stash
notes.txt
stats.html
.history
